.nav-mercado{
    background-color: $yellow !important;
}

a.small{
  width: 130px;
}

.logo{
  width: 90%;
}

@media (max-width: 996px) {
  .logo{
      width: 90%;
  }
}

@media (max-width: 768px) {
  .logo{
      width: 90%;
  }
}

@media (max-width: 685px) {
  .watch{
    display: none;
  }
}

@media (max-width: 500px) {
  .logo{
      width: 90%;
  }
}


.container.menu{
    width: 100%;
    padding-right: 0px !important;
    padding-left: 15px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
#navbarSupportedContent{
    padding-right: 1em;
    padding-left: 1em;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link{
    color: white !important;
}
.cart{
    width: 20px;
    position: absolute;
}


@media (min-width: 400px) {
    .navbar-expand-md {
      flex-flow: row nowrap !important;
      justify-content: flex-start !important;
    }
  
    .navbar-expand-md .navbar-nav {
      flex-direction: row !important;
    }
  
    .navbar-expand-md .navbar-nav .dropdown-menu {
      position: absolute !important;
    }
  
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
    }
  
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid,
    .navbar-expand-md > .container-sm,
    .navbar-expand-md > .container-md,
    .navbar-expand-md > .container-lg,
    .navbar-expand-md > .container-xl {
      flex-wrap: nowrap !important;
    }
  
    .navbar-expand-md .navbar-collapse {
      display: flex !important;
      flex-basis: auto !important;
    }
  
    .navbar-expand-md .navbar-toggler {
      display: none !important;
    }
  }

  .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid,
    .navbar-expand-md > .container-sm,
    .navbar-expand-md > .container-md,
    .navbar-expand-md > .container-lg,
    .navbar-expand-md > .container-xl {
      flex-wrap: nowrap !important;
    }

  .nav.nav-mercado.navbar.navbar-expand-md.navbar-light.bg-black {
      padding-left: 1.5rem;
  }

  .imgPerfil{
    width: 50px; 
    height:50px;
    margin-left:5px;
    border-radius: 36px !important;
    overflow: hidden;
  }

li img{
    width: 100%;
}